
{{ partial "head" . }} {{ partial "nav" . }}		
 		
 <article class="baskerville pb5">		
   <header class="avenir tc-l ph3 ph4-ns pt4 pt2-ns">		
        {{ if .Params.image }}<img class="w-100 dib measure f3 pb2" src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}		<h1 class="ttc f3 f2-m f-subheadline-l measure lh-title fw1 mt0">{{.Title}}</h1>
        <small class="mb4 center">	Oleh: {{if .Params.author }}<a href="{{ .Params.authorlink }}"><strong>{{ .Params.author }}</strong></a>{{ end }} pada 		
     <time> {{ .Date.Format "2 Jan, 2006" }} - sekitar {{ .ReadingTime }} menit membaca</time></small> 
     <hr><br>
   </header>		
   <div class="main main-raised">		
 		
     <div class="ph3 ph4-m ph5-l">	
       <p class="f4 mb4 center measure lh-copy">		
         
     {{ .Description }} </p>	
       <div class="measure db center f5 f4-ns lh-copy">		
         {{ .Content }}		
         
       </div>		
 		<amp-facebook-comments width=486 height=657
         layout="fixed-width"
         data-numposts="5"
         data-href="{{ .Permalink }}">
     </amp-facebook-comments>
     </div>		
 </article>		
 		
 <div class="tc mb3">		
   <a href="/post" class="btn btn-outline-warning raise">Artikel Lainnya <i class="fa fa-caret-right" aria-hidden="true"></i> 		
  </a></div>		
  <script async custom-element="amp-facebook-comments" src="https://cdn.ampproject.org/v0/amp-facebook-comments-0.1.js"></script>		
 {{ partial "footer" . }}