<!-- Contact -->
<div class="mb4">
  <h4 class="f3 b lh-title mb3 tc">Kirim Pesan</h4>

  <form name="KontakSirnarasa" action="terima-kasih" netlify  netlify-honeypot="bot-field">
    <div class="flex-l mhn1-l">
          <!-- Name -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input name="Nama" type="text" id="name" placeholder="Name" class="w-100 mb2">
          <label for="name">Nama</label>
        </fieldset>
      </div>
          <!-- Email -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input name="Alamat Email" type="email" id="email" placeholder="Email" class="w-100 mb2">
          <label for="email">Email</label>
        </fieldset>
      </div>
    </div>

        <!-- Message -->
    <fieldset>
      <textarea name="Pesan" placeholder="Pesan Anda" rows="8" cols="80" id="message" class="w-100"></textarea>
      <label for="message">Pesan Anda</label>
    </fieldset>
        <!-- Button -->
    <div class="tc">
      <button type="submit" class="btn w-100 w-auto-ns raise g-recaptcha" data-sitekey="6LcN4SwUAAAAAFu_YEQtP1Vk5_K36tzJUipuoqL6"
      data-callback="onSubmit"><i class="fa fa-send" aria-hidden="true"></i> Kirim</button>
    </div>
  </form>
</div>

<script>
  $("#KontakSirnarasa").submit(function(e) {
  e.preventDefault();

  var $form = $(this);
  $.post($form.attr("action"), $form.serialize()).then(function() {
    alert("Terima Kasih! Kami akan membalas pesan Anda.");
  });
});
</script>
<script src='https://www.google.com/recaptcha/api.js'></script>
