
<section class="bg-inverse white ph3 pv4">
		<div class="flex-ns justify-between">
			<div>
				<h3 class="f4 b lh-title mb1 text-primary">Sirnarasa</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Beranda</a></li>
					<li><a href="/post" class="link">Kajian</a></li>
					<li><a href="/kegiatan" class="link">Kegiatan</a></li>
					<li><a href="/tentang" class="link">Tentang</a></li>
					<li><a href="/kontak" class="link">Kontak</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 text-primary">Pendidikan</h3>
				<ul class="mb3">
					<li><a href="#" class="link">RA Al Abghani</a></li>
					<li><a href="#" class="link">Madrosah Tsanawiyah</a></li>
					<li><a href="#" class="link">Madrosah Aliyah</a></li>
					<li><a href="https://www.stidsirnarasa.ac.id" class="link">STID Sirnarasa</a></li>
					<li><a href="#" class="link">IPWL Putri</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 text-primary">Baitul Maal</h3>
				<ul class="mb3">
					<li><a href="/kontak" class="link">Zakat</a></li>
					<li><a href="/kontak" class="link">Infaq/Shodaqoh</a></li>
				</ul>
			</div>
			<div>
		<h3 class="f4 b lh-title mb1 text-primary">Terhubung</h3>
		<ul class="mhn2">
			{{ partial "social-icon" (dict "link" "https://www.facebook.com/pasantrensirnarasa" "svg" "facebook") }}
			{{ partial "social-icon" (dict "link" "https://twitter.com/sirnarasa" "svg" "twitter") }}
		</ul>
	</div>

		</div><small class="f6 db tc"><b class="ttu">2017 © <a href="https://www.sirnarasa.org">Sirnarasa</a> </b></small>
	</div>

</section>
{{ partial "svg" . }}
<script async src="https://cdn.ampproject.org/v0.js"></script>
<script async custom-element="amp-facebook" src="https://cdn.ampproject.org/v0/amp-facebook-0.1.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>

</html>
